<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/login.js" defer></script>
</head>
    <body>
        <div class="mainpage">
            <div class="login-box">
                <form action="/forgotpassword" class="login-container" method="POST">
                    <div class="login-header">
                        <strong>FORGOT PASSWORD</strong>
                    </div>
                    <div>
                        <label for="username">Email</label><br>
                        <input class="login-container-input" type="text" id="username" name="username" required>
                    </div>
                    <button class="login-container-input" type="submit" >Send Recovery Info</button>
                </form>
                <div>
                    <a href="/login">Go Back</a>
                </div>
            </div>
        </div>
    </body>
</html>