<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/index.js" defer></script>

</head>
    <body>
        <div class="body">
            <%- include('navbar/_navbar') %>
            <div class="mainpage">
                <div class="courses-header">
                    <div>
                        Dashboard 
                        <% if(session.user) {%> 
                            <%= ` - Welcome ${session.user.username}` %>
                            <% } %>
                        <hr class="header-bar">
                    </div>
                    <div class="header-bar-add-container">
                        <input type="image" class="header-bar-add" src="svg/navbar/plus.svg">
                        <div class="header-bar-add-menu hidden">
                                <div class="add-menu-name">
                                    Name
                                    <br>
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="add-menu-color">
                                    Color (Hex)
                                    <br>
                                    <input type="text" placeholder="#000000">
                                </div>
                                <div class="add-menu-confirm">
                                    <button>Confirm</button>
                                </div>
                        </div>
                        <hr class="header-bar">
                    </div>
                    
                </div>
                
                <div class="courses">
                    <% if(session.user) { 
                        session.courses.forEach(course => { %>
                            <div class="course-layout"> 
                                <div class="course-layout-pic">
                                    <input type="image" class="course-menu" src="svg/navbar/3-vertical-dots-icon.svg">
                                </div>
                                <div class="course-layout-content">
                                    <%= `${course.courseName}` %>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>