<div class="navbar">
    <div class="navbar-top">
        <input type="image" class="icon" onclick="location.href='/';" src="/svg/navbar/home.svg">
        <input type="image" class="icon" onclick="location.href='/';" src="/svg/navbar/search.svg">
        <input type="image" class="icon" onclick="location.href='/';" src="/svg/navbar/envelope.svg">
        <input type="image" class="icon" onclick="location.href='/';" src="/svg/navbar/users-alt.svg">
        <input type="image" class="icon" onclick="location.href='settings';" src="/svg/navbar/settings.svg">
    </div>     
        <input type="image" class="icon user" onclick="location.href='user';" src="/svg/navbar/user.svg">
</div>